version: '3.8'

services:
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - middle-end
    networks:
      - app-network
  middle-end:
    build: ./middle-services
    ports:
      - "5000:5000"
    depends_on:
      backend:
        condition: service_started
      db:
        condition: service_healthy
    networks:
      - app-network
  backend:
    build: ./backend
    ports:
      - "8080:8080"
    networks:
      - app-network
  db:
    image: mongo:4.4.6
    environment:
      MONGO_INITDB_ROOT_USERNAME: user
      MONGO_INITDB_ROOT_PASSWORD: password
    ports:
      - "27017:27017"
    networks:
      - app-network
    volumes:
      - $HOME/mongo_db/data/db
    entrypoint: >
      sh -c '
      if [ ! -f /data/keyfile ]; then
        echo "Генерация keyfile для реплика-сета..."
        mkdir -p /data
        openssl rand -base64 756 > /data/keyfile
        chmod 400 /data/keyfile
        echo "Keyfile создан"
      fi;
      mongod --fork --logpath /dev/null --bind_ip_all --auth;
      sleep 1;
      mongo --eval "
        db = db.getSiblingDB(\"admin\");
        db.createUser({
          user: \"user\",
          pwd: \"password\",
          roles: [{ role: \"root\", db: \"admin\" }]
        });
      ";
      sleep 1;
      mongod --shutdown;
      sleep 1;
      mongod --replSet rs0 --keyFile /data/keyfile --bind_ip_all --auth --fork --logpath /dev/null;
      sleep 1;
      mongo -u user -p password --verbose --eval "rs.initiate()";
      mongod --shutdown;
      sleep 1;
      echo "-----------------finish-------------------";
      mongod --replSet rs0 --keyFile /data/keyfile --bind_ip_all --auth
      '
    healthcheck:
      test: >
        echo 'try {
          rs.conf().members[0].host
        } catch(e) {
          rs.initiate()
        }' | mongo -u user -p password --authenticationDatabase admin --verbose
      interval: 10s
      start_period: 7s
      timeout: 10s
      retries: 5

volumes:
  mongo_db:

networks: 
  app-network:
    driver: bridge