.back-button-container {
    display: flex;
    justify-content: left;
    padding: 20px;
}

.svg-round-button {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.svg-round-button:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

.svg-round-button:active {
  transform: scale(0.95);
}
